/* Desktop View  */
.custom-navbar {
  background-color: #02090fe3 !important;
  padding: 0.6rem 1rem;
}

.brand-text {
  color: white !important;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-links .nav-link {
  color: white !important;
  margin-right: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.nav-links .nav-link:hover {
  color: #00d9ff !important;
}

.social-icons .nav-link {
  color: white !important;
  font-size: 1.3rem;
  margin-left: 1rem;
}

.social-icons .nav-link:hover {
  color: #00d9ff !important;
}

/* Mobile Responsive  */
@media (max-width: 991px) {
  .nav-links {
    text-align: center;
    margin-top: 1rem;
  }

  .social-icons {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 1rem !important;
    margin-top: 0.5rem !important;
  }

  .social-icons .nav-link {
    margin-left: 0 !important;
    color: white !important;
    font-size: 1.3rem !important;
  }
}