/* Desktop View  */
.custom-navbar {
  background-color: #02090fe3 !important;
  padding: 0.6rem 1rem;
}

.brand-text {
  color: white !important;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-links .nav-link {
  color: white !important;
  margin-right: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;           
  transition: color 0.2s ease;
}

.nav-links .nav-link.active {
  color: #ff00cc !important;
}

.nav-links .nav-link::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px; 
  width: 0%;
  height: 1px;
  background: linear-gradient(90deg,#00d9ff);
  transition: width 250ms ease;
}

/* expand underline on hover OR when active */
.nav-links .nav-link.active::after {
  width: 100%;
}

.nav-links .nav-link:hover {
  color: #00d9ff !important;
}
.custom-toggler {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
  position: relative;
}

/* Common icon styles */
.toggle-icon {
  color: white;
  font-size: 1.8rem;
  position: relative;
  top: 2px;
  right: 0;
}

/* Optional: make sure default Bootstrap icon doesn’t overlap */
.navbar-toggler-icon {
  display: none !important;
}

.social-icons .nav-link {
  color: white !important;
  font-size: 1.3rem;
  margin-left: 1rem;
}

.social-icons .nav-link:hover {
  color: #00d9ff !important;
}

/* Mobile Responsive  */
@media (max-width: 991px) {
  .nav-links {
    text-align: center;
    margin-top: 1rem;
  }

  .nav-links .nav-link::after{
  content: "";
  position: absolute;
  left: 90px;
  bottom: 0px; 
  max-width: 100px;
  height: 1px;
  background: linear-gradient(90deg,#00d9ff);
  transition: width 250ms ease;
}
  .social-icons {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 1rem !important;
    margin-top: 0.5rem !important;
  }

  .social-icons .nav-link {
    margin-left: 0 !important;
    color: white !important;
    font-size: 1.3rem !important;
  }
}